/* Reset ****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}

/* Reset ****************************************/
:root {
  --bgmain: #fff7ec;
  --bgsec: #fae5c8;
  --color1: #b42323;
  --color2: #840f0f;
  --color3: #650909;
  --color4: #1c0808;
  --tcolor: #0e0e0e;
  --pcolor: #202020;
}

/* Base ****************************************/
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--pcolor);
  background: var(--bgmain);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.75rem 'Poppins', sans-serif;
  color: var(--tcolor);
  -webkit-font-smoothing: auto;
}

.button {
}

.section {
  padding: 5rem 0;
}

/* Container ****************************************/
.container {
  width: 100%;
  margin: 0 1.5rem;
}

/* Logo ****************************************/
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--bgmain);
}

/* Header ****************************************/
.header-menu {
  background: var(--color3);
}

.menu-nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Inicio ****************************************/
