/* Reset ****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Reset ****************************************/
:root {
  --color1: #f1d0a2;
  --color2: #b42323;
  --color3: #840f0f;
}

/* Base ****************************************/
body {
  font: 400 1rem 'DM Sans', sans-serif;
}

h1 {
  font: 700 1.75rem 'Poppins', sans-serif;
}

.button {
}

/* Container ****************************************/
.container {
  width: 100%;
  margin: 0 1.5rem;
}

/* Logo ****************************************/
.logo {
}

/* Header ****************************************/
.header-menu {
  height: 4.5rem;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
}
